
*.log
*.pdb
*.ipdb
*.tlog
*.obj
*.recipe
*.iobj
*.ipch
*.asi
*.db
ScriptLocalEditor/Source/Solution/.vs/ScriptLocalEditor/v16/.suo
ScriptManager/Source/Solution/.vs/ScriptManager/v16/.suo
ScriptManager/Source/Solution/.vs/ScriptLocalEditor/v16/.suo
*.db-shm
*.db-wal
*.opendb
ScriptManager/Source/Solution/.vs/ScriptLocalEditor/v16/.suo
